.container {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #c0adad;
  padding: 10px;
  user-select: none;
  max-height: 350px;
  overflow: auto;
}
ul {
  list-style: none;
  font-size: 16px;
}
ul li {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.profile {
  display: flex;
  gap: 5px;
}
.link {
}
ul li img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}